version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=CHANGE_ME
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  fastapi:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - sqlserver
    environment:
      - DB_SERVER=sqlserver
      - DB_USER=sa
      - DB_PASSWORD=CHANGE_ME
      - DB_NAME=InvoicesDB

volumes:
  sql_data:
